// Place all the styles related to the Cast controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#cast_page {
  background: linear-gradient(0deg, rgba(110, 100, 110, 0.3), rgba(110, 100, 110, 0.3)), asset_url("cast-bg.png");
  background-position-y: -3px;
  background-size: cover;
  height: 100vh;
  color: white;

  h3 {
    padding: 0.2em 0;
  }

  button {
    color: white;
    margin: 0.2em 1em;
  }
}
